[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
ipython = "*"
pyhamcrest = "*"
behave = "*"
jupyter = "*"
jupyterlab = "*"
scipy = "*"
pipenv-setup = "*"
setuptools = "*"
wheel = "*"
invoke = "*"
toml = "*"

[packages]
pythonnet = "*"
numpy = "*"
python-dateutil = "*"
vectormath = "*"
deal = "*"
matplotlib = "*"
seaborn = "*"
more-itertools = "*"
pyyaml = "*"
pandas = "*"
typing-extensions = "*"
toolz = "*"

[requires]
python_version = "3.7"

[scripts]
behave = "behave"
ipython = "ipython"
jupyter_lab = "jupyter lab"
plot_monitor_pressures = "python plot_monitor_pressures.py"
plot_trajectory = "python plot_trajectories.py"
plot_treatment = "python plot_treatment.py"
test_project_loader = "python orchid/project_loader.py -v"
test_project_adapter = "python orchid/project_adapter.py -v"
