[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
ipython = "*"
pyhamcrest = "*"
behave = "*"

[packages]
pythonnet = "*"
pandas = "*"
numpy = "*"
python-dateutil = "*"
vectormath = "*"

[requires]
python_version = "3.7"

[scripts]
plot_trajectory = "python plot_trajectory.py"
ipython = "ipython"
