[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
ipython = "*"
pyhamcrest = "*"
behave = "*"

[packages]
pythonnet = "*"
numpy = "*"
python-dateutil = "*"
vectormath = "*"
deal = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.7"

[scripts]
plot_trajectory = "python plot_trajectory.py"
ipython = "ipython"
test_project_loader = "python image_frac/project_loader.py -v"
test_project_adapter = "python image_frac/project_adapter.py -v"
